##########################################
#                                        #
#        Samsquetch Telegram Bot         #
#               Config                   #
##########################################

### DB Settings
sam_host = 127.0.0.1
sam_db = YOURDB
sam_db_user = YOURDBUSER
sam_db_pw = YOURPASSWORD

### Web Gui Settings
web_gui_port = 8000
web_gui_ip = 127.0.0.1


### Telegram Settings (without the bot:)
telegram_token = 542342341:AAF84z1J61N77s51sdfsdfsdfsdfsdfsddsdfs

### GMaps Key
gmaps_key = sdfsdfsdfsdfsdfsdfsdfsdsfd 
