##########################################
#                                        #
#        Samsquetch Telegram Bot         #
#               Config                   #
##########################################

### DB Settings
sam_host = 127.0.0.1
sam_db = YOURDB
sam_db_user = YOURDBUSER
sam_db_pw = YOURPASSWORD

### Telegram Settings (without the bot:)
telegram_token = 542342341:AAF84z1J61N77s51sdfsdfsdfsdfsdfsddsdfs

### Webserver Settings
www_path = /var/www/SamGui/trigger/

### Game Options
invincible = 0
extra_distance_m = 25
trigger_distance_m = 30

### Trigger Settings
reset_minutes = 2