##########################################
#                                        #
#        Samsquetch Telegram Bot         #
#               Config                   #
##########################################

### DB Settings
sam_host = 127.0.0.1
sam_db = YOURDB
sam_db_user = YOURDBUSER
sam_db_pw = YOURPASSWORD

### Web Gui Settings
web_gui_port = 8000
web_gui_ip = 127.0.0.1


### The settings below can be overwirtten via DB
### Telegram Settings (without the bot:)
telegram_token = 542342341:AAF84z1J61N77s51sdfsdfsdfsdfsdfsddsdfs

### Game Options
invincible = 0
cheat_detection = 0
advanced = 0
extra_distance_m = 25
trigger_distance_m = 30

### Trigger Settings
reset_minutes = 2

### GMaps Key
gmaps_key = sdfsdfsdfsdfsdfsdfsdfsdsfd 

### Gui Settings
botname = DeinBotName
pagename = SamGuiTest


### Waypoint Editor Options
zoom_koordinaten = 44.993060,7.652171 
zoom_level = 16 
